name: Publish to NPM

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  Publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    timeout-minutes: 15
